*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgb(0,0,0,0.5)50%,rgb(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icons{
    width: 300px;
    float: left;
    height: 50px;
    padding-bottom: 70px;
}

.logo{
    color: #ff7200;
    font-size: 25px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    padding-top: 30px;
    

}

.menu{
    width: 600px;
    float: right;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}

ul li a:hover{
    color: #ff7200;


}







.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

p{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
}

.content .cn{
    width: 80px;
    height: 25px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px ;
    margin-left: 20px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color:#fff ;
    font-family: arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.btnn:hover{
    background: #fff;
    color: #ff7200;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 9px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
}

.liw{
    padding-top:0px ;
    padding-bottom: 6px;
    text-align: center;
}

.social-icons {
    text-decoration: none;
    color: #fff;
}

.social-icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 24px;
    padding-top: 6px;
    transition: 0.3s ease;
}

.social-icons ion-icon:hover{
    color: #ff7200;
}

/*------about------*/

#about{
    padding: 70px 10px;
    color: #ababab;
    background-color: #000;
}

h3{
    padding-right: 350px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 500px;
    border-radius: 15px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:white;
}


.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 22px;
    bottom: 15px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 40%;
}

.tab-contents ol li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ol li span{
    color: #ff004f;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*----------services---------*/

#services{
    padding: 50px 0;
    
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h4{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translate(-10px);
}

/*--------portfolio--------*/

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    

}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer{
    width: 500px;
    height: 130px;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;

}

i{
    margin-top: 0;
}

/*---------contact-------*/


.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 35%;
}



.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 93%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 5px;
    color: gray;
    font-size: 18px;
    border-radius: 6px;
}

form button{
    padding: 14px 30px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    background: #ff004f;
    color: #fff;
}


.btn{
    display: inline-block;
    background: #ff004f;
    text-decoration: none;
    color: #fff;
    padding: 7px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 20px;
}


.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}

.copyright i{
    color: #ff004f;
}
